<% for news in articles %>
    <%
        if news.class == Hash
            # articlesをHashの配列で渡すと、checked_list形式で出力
            checked_at = news[:checked_at]
            news = news[:news]
        elsif news.class == Fixnum
            # articlesをFixnumの配列で渡すと、ActiveRecordに変換される
            news = News.where(news_id: news).first
        end

        sign = news.sign(current_user.id)
    %>
    <div class="panel <%=header_sign sign %>" data-news="<%= news.news_id %>" data-sign="<%= sign %>">
        <div class="panel-heading" style="cursor: move">
            <h3 class="panel-title">
                <% if sign.present? %><span aria-hidden="true" class="glyphicon glyphicon-ok"></span><% end %>
                <%= news.title %>
            </h3>
        </div>

        <div class="eyecatch" onClick="call_iframe_modal('<%= news.url %>');"></div>

        <div class="well" style="margin: 1em; padding: 0px; cursor: pointer;">
            <div class="panel-body" onClick="window.open('<%= news.url %>');">
                <%= truncate fetch_body(news.news_id), :length => 140 %>
            </div>
        </div>
    </div>
    <% if checked_at.present? %>
        <div class="time_separater" data-time="<%= checked_at %>">
            <%=raw time_notice checked_at %>
            <hr/>
        </div>
    <% end %>
<% end %>
