<div class="row">
    <div class="col-md-6" data-role="tuner">
        <%= render :partial => "article", :locals => { articles: @news, rating: true } %>
    </div>

    <div class="col-md-6" data-role="controller">
        <div class="well well-sm">
            <div class="form-group">
                <p class="text-warning">調整済み：</p>
                <select class="form-control" data-reclist="1">
                    <option value="0" selected="selected">推薦リストを選択（調整済み）</option>
                    <% @recommends.each do |rec| %>
                        <option value="<%= rec.id %>"><%= rec.created_at.in_time_zone('Tokyo') %></option>
                    <% end %>
                </select>
            </div>
            <div class="form-group">
                <p class="text-success">オリジナル：</p>
                <select class="form-control" data-reclist="2">
                    <option value="0" selected="selected">推薦リストを選択（オリジナル）</option>
                    <% @recommends.each do |rec| %>
                        <option value="<%= rec.id %>"><%= rec.created_at.in_time_zone('Tokyo') %></option>
                    <% end %>
                </select>
            </div>
        </div>
        <div class="well well-sm" data-role="result"></div>
    </div>
</div>

<%= javascript_tag do %>
    var analyzer, ca;
    $(function() {
        ca = new CheckedAfter();
        ca.select_triger();
        ca.result_scroll_trigger();
        ca.compare_trigger();

        analyzer = new InstantAnalyzer();
    });
<% end %>
