<% for news in @news %>
    <% sign = news.sign(current_user.id) %>
    <div class="panel <%= @sign_patterns[sign.to_i] %>" data-news="<%= news.news_id %>" >
        <div class="panel-heading" style="cursor: move">
            <h3 class="panel-title">
                <% if sign.present? %><span aria-hidden="true" class="glyphicon glyphicon-ok"></span><% end %>
                <%= news.title %>
            </h3>
        </div>

        <div class="eyecatch" onClick="call_iframe_modal('<%= news.url %>');"></div>

        <div class="well" style="margin: 1em; padding: 0px; cursor: pointer;">
            <div class="panel-body" onClick="call_iframe_modal('<%= news.url %>');">
                <%= "news body" %>
            </div>
        </div>
    </div>
<% end %>

<%= paginate @news %>

<%= javascript_tag do %>
    $(function() {
        var rating = new Rating("<%= current_user.id %>");
        rating.rating_enable();
    });
<% end %>
