<div class="row">
    <div class="col-md-6 hideout" data-role="question">
        <form class="form-horizontal">
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Checkbox
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Textarea</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Radios</label>
              <div class="col-lg-10">
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                    Option one is this
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                    Option two can be something else
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Selects</label>
              <div class="col-lg-10">
                <select class="form-control" id="select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <br>
                <select multiple="" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
    </div>
    <div class="col-md-6" data-role="tuner">
        <% @selectors.each do |selector| %>
            <div class="btn-group">
                <a class="btn btn-<%= selector[:label_type] %> btn-xs" onClick="plotter.clear_axis('<%= selector[:axis] %>')" data-title="<%= selector[:axis] %>"><%= selector[:axis] %>軸へのマッピング</a>
                <a aria-expanded="false" class="btn btn-<%= selector[:label_type] %> btn-xs dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <% path = x_similar_article_path(0) if selector[:axis] == 'X' %>
                    <% path = y_similar_article_path(0) if selector[:axis] == 'Y' %>
                    <li onClick="plotter.change_axis('<%= selector[:axis] %>', '自分のプロファイル')"><%= link_to '自分のプロファイル', path, remote: true %></li>
                    <li class="divider"></li>
                    <% @profiles.each do |prof| %>
                        <% path = x_similar_article_path(prof.id) if selector[:axis] == 'X' %>
                        <% path = y_similar_article_path(prof.id) if selector[:axis] == 'Y' %>
                        <li onClick="plotter.change_axis('<%= selector[:axis] %>', '<%= prof.name %>')"><%= link_to prof.name, path, remote: true %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="btn-group more-padding-left">
            <span class="label label-warning">クラスタ数</span> <span id="divider" class="badge">4</span>
            <%= content_tag :input, '', id: 'rangeInput', type: 'range', class: 'custom', step: '1', min: '2', max: '10', value: '4', data: { role: 'divider'} %>
        </div>

        <div class="stage"></div>

        <div class="form-group">
            <span class="label label-primary" data-label="X">X軸</span>
            <span class="label label-success" data-label="Y">Y軸</span>
        </div>

        <blockquote class="details"></blockquote>
    </div>

    <div class="col-md-6 recommend" data-role="recommend"></div>
</div>

<%= javascript_tag do %>
    var plotter, rating;
    $(function() {
        var picker = new Picker("<%= Settings.api.ajax_host %>");
        plotter = new Plotter(500, 500, picker);
        plotter.cluster_slider_trigger();
        plotter.tuner_scroll_trigger();

        rating = new Rating("<%= current_user.id %>");
    });
<% end %>
